@using CacheSimulator.Entities
<h3>Results</h3>

<div class="mt-2 row">
    <div class="col">
        <h5>Selected configuration</h5>
        <div>
            <label>Number of blocks:</label> @Cache.BlockSizeDecimal
        </div>
        <div>
            <label>Cache block size (words):</label> @Cache.WordSizeDecimal
        </div>
        <div>
            <label>Cache size (words):</label> @Cache.CacheSize
        </div>
    </div>

    <div class="col">
        <div>
            Miss %: @Cache.misses
        </div>
        <div>
            Hit %: @Cache.hits
        </div>
    </div>
</div>

@code {
    [Parameter]
    public novo.Cache Cache { get; set; } // n sei se vai dar pra manter os dados da config visto que foi removido de uso.
}
